# Compiled object files
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.a
*.lib

# Executable files
*.exe
*.out
*.app

# Debug files
*.dSYM/
*.d/

# IDE specific files
.vscode/
*.code-workspace
.idea/
*.suo
*.user
*.userosscache
*.sln.docstates
*.VC.db

# Logs
*.log
*.csv
